<div class="">
    <br><br>
    <div>
        <h3 class="text-center">Meus livros</h3>
        <h4 [hidden]="semLivros">Você não possui livros</h4>
        <div class="col-sm-12 botao">
            <button class="btn btn-default " (click)="novoLivro()" >Novo livro</button>
        </div>
    </div>
    <div *ngFor="let livro of livros" class="col-sm-9 col-sm-offset-1 livro">
        <livro 
            [titulo]="livro.titulo"
            [url]="livro.foto.imagem"
            [autor]="livro.autor"
            [paginas]="livro.paginas"
            [categoria]="livro.categoria">
            <span>
                <button class="btn btn-default" (click)="goToEdicao(livro)" >Editar</button>
                <button class="btn btn-default">Excluir</button>
            </span>
        </livro>
    </div>
</div>