<br><br><br>
<div class="panel panel-default col-sm-6 col-sm-offset-3">
    <div class="panel-heading">
        <h3><b>Login</b></h3>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label>Login</label>
                <input type="text" class="form-control">
            </div>
            <br>
            <div class="form-group">
                <label>Senha</label>
                <input type="password" class="form-control">
            </div>
        </form>
        <div class="col-sm-6">
            <button class="btn btn-default col-sm-12">Entrar</button>
        </div>
        <div class="col-sm-6">
            <button (click)="goToCadastro()" class="btn btn-default col-sm-12">Cadastrar novo usuário</button>
        </div>
        <div class="col-sm-12 text-center">
            <br>
            <br>
            <a href="">Esqueci minha senha</a>
        </div>
    </div>
</div>